// OTPComponent.module.scss
.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.input {
    width: 56px;
    height: 56px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    background-color: #222;
    border-radius: 8px;
    color: #fff;

    &::placeholder {
        color: #5A5A5F; // i want to use when is in 0's state
        font-family: 'Cabinet Grotesk', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        text-align: center;
    }
}